
{% extends "templates/web.html" %}
{% block style %}
<link rel="stylesheet" href="css/items.css">
<style>
    .navbar {

        display: none;
    }
    .web-footer {

        display: none;
    }
</style>
{% endblock style %}

{% block page_content %}

<div class="login-wrap">
    <div class="login-html">
        <!-- Logo that remains constant -->
        <div class="company-logo hidden">
            <img src="{{ logo_image }}" alt="Company Logo">
        </div>

        <div class="login-form">
            <div id="step2" class="hidden">
                <div class="group">
                    <input id="id" type="text" class="input" value="{{ customer }}">
                </div>
                <div class="group">
                    <input id="customer_name" type="text" class="input" value="{{ customer_name }}">
                </div>
                <div class="group">
                    <input id="customer_name_" type="text" class="input" value="{{ customer_name }}">
                </div>
                <div class="group">
                    <input id="mobile" type="text" class="input" value="{{ mobile }}">
                </div>
                <div class="group">
                    <input id="customerGroup" type="text" class="input" value="{{ rank }}">
                </div>
                <div class="group">
                    <input id="orderGroup" type="text" class="input" value="{{ order_type }}">
                </div>
                <div class="group">
                    <input id="whatsapp-number" type="text" class="input" value="{{ whatsapp_number or '' }}">
                </div>
            </div>
            <!-- Step 3 -->


            <!-- Step 3 -->
            <div id="second-main" class="step3">
                <div class="group">
                    <div class="search-filter">
                        <div class="summary-section">
                            <div class="itm-qty">
                                <div class="summary">
                                    <div class="summary-label">Quantity</div>
                                    <div class="summary-value"><span id="total-quantity">0</span></div>
                                </div>
                                <div class="summary">
                                    <div class="summary-label">CC</div>
                                    <div class="summary-value"><span id="total-cc">0</span></div>
                                </div>
                                <div class="summary">
                                    <div class="summary-label">Amount</div>
                                    <div class="summary-value">৳<span id="total-amount">0</span></div>
                                </div>
                            </div>

                    </div>
                    <!-- Tabs for Product Categories -->
                    <div class="item_desription">
                        <div class="tabs-container">
                            <p style="text-align: center;color: #000;">All Products</p>
                        </div>
    
                        <!-- Product Listing -->
                        <div class="product-list">
                            <!-- fine fragrances -->
                            {% if itemss %}
                                {% for item in itemss %}
                                    <div class="product-card" data-category="{{ item.item_group_modify }}">
                                        <div class="product-image">
                                            <img src="{{ item.image }}" alt="{{ item.item_name }}">
                                        </div>
                                        <div class="product-info">
                                            <h4>{{ item.item_name }}</h4>
                                            <div class="item">{{ item.item_code }}</div>
                                            <div class="price" data-price = "{{ item.standard_selling_rate or '' }}">Price: {{ item.standard_selling_rate_show or "" }}</div>
                                            <div class="item cc-value" data-cc="{{ item.cc or '' }}">CC: {{ item.cc or 0 }}</div>
                                            <input type="hidden" class="item-cc" value="{{ item.cc }}">
                                            <input type="hidden" class="item-id" value="{{ item.item_code }}">
                                            <input type="hidden" class="item-limit" value="{{ item.limit or 0 }}">
                                            <input type="hidden" class="item-price" value="{{ item.standard_selling_rate or 0 }}">
                                            <input type="hidden" class="item-price-actual" value="{{ item.standard_selling_rate_actual or 0 }}">
                                        </div>
                                        <div class="quantity-control">
                                            <input type="number" id="quantity-input" class="quantity-input" placeholder="QTY"
                                            data-product="{{ item.item_name }}™">
                                                <div class="total-amt">
                                                    <div class="cc">
                                                        CC: 0
                                                    </div>
                                                    <div class="amt">
                                                        Amt: 0
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
    
                                <div class="no-products" style="display: none;">
                                    No items found!
                                </div>
                            {% endif %}
    
                            <div class="search-filter">
                                <div>
                                    <!-- Order Button -->
                                    <button id="next3" class="proceed-btn">NEXT</button>
                                </div>
                            </div>
                            <div class="back-home">
                                <a href="/order/homepage">Back to home</a>
                            </div>
                        </div>
                    </div>
                    <div class="main-cart-div hidden">
                        <div class="company-logo mb-4">
                            <h2 style="color:#000; Font-size:20px;margin-bottom: 0px;font-weight:600;">Order Summary</h2>
                        </div>
                        <div class="product-list cart-product-list"></div>
                        <div class="search-filter-cart">

                            <div class="summery">
                                <div style="text-align:left;" class="cart-summery">
                                    <div class="Qty">
                                        Quantity : <span id="total-quantity-2">0</span>
                                    </div>
                                    <div>
                                        CC : <span id="total-cc-2">0</span>
                                    </div>

                                </div>
                                <div class="cart-summery">
                                    <div>
                                        Sub-total : ৳<span id="total-amount-2">0</span>
                                    </div>
                                    <div>
                                        VAT 5% : ৳<span id="percent-amount">0</span>
                                    </div>
                                </div>
                            </div>
                                <div class="grand-total">
                                        Grand Total : ৳<span id="grand-total">৳0</span>
                                </div>

                            <div class="search-filter">
                                <div class="two-button">
                                    <!-- Order Button -->
                                    <button id="item-back" class="proceed-btnn">EDIT</button>
                                    <button id="next4" class="proceed-btn">PLACE ORDER</button>
                                </div>
                            </div>
                            <div class="back-home">
                                <a href="/order/homepage">Back to home</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
            <!-- Step 4 -->
            <div id="step4" class="step">
                <div class="order-confirmation">
                    <!-- Success Icon -->
                    <div class="success-icon">
                        <img src="css/images/check.png" alt="Success Icon">
                    </div>

                    <!-- Order Submitted Message -->
                    <div id="qr-div">
                        <div class="order-message">
                            <h2>Order Submitted by</h2>
                            <h3 class="oname">{{ customer_name }}</h3>
                            <p style="margin-top: -15px;padding-bottom: 5px;">FBO ID: {{ customer }}</p>
                            <p>Thank you for your order!</p>
                        </div>
    
                        <!-- QR Code -->
                        <div id="qrcode" style="display: flex;flex-direction: row;justify-content: center;"></div>
                        <p class="invoice-id mt-2" style="color: black;"></p>
                    </div>
                    <div class="button-container">
                        {% if order_type == "In Person" %}
                        <div id="download">
                            <button id="download-qr" class="download-btn">Download QR Code</button>
                            <p style="font-size: 14px;;line-height: 20px;color:#404040;margin-top: 1rem;">আপনার অর্ডার সম্পন্ন করার জন‍্য কিউ আর কোডটি ডাউনলোড করুন অথবা স্ক্রিনশট নিয়ে কাউন্টারে প্রদর্শন করুন কিংবা এই স্ক্রিনটি কাউন্টারে প্রদর্শন করুন।</p>
                        </div>
                        {% else %}
                        <div id="share" class="share-container">
                            <a id="whatsapp-share-btn" href="#" target="_blank" class="share-btn whatsapp-btn download-btn">
                                <img src="css/images/whatsapp.png" alt="WhatsApp Icon" width="13"> Send to Official Whatsapp
                            </a>
                            <p style="font-size: 14px;;line-height: 20px;color:#404040;margin-top: 1rem;">আপনার অর্ডারটি সম্পন্ন করার জন‍্য প্রথমে স্ক্রিনশট নিয়ে রাখুন তারপর উপরের বাটনটি চেপে সরাসরি হোয়াটসএপ এ পাঠিয়ে দিন, সাথে স্ক্রিনশটটি হোয়াটস অ্যাপে পাঠান। অর্ডারটি কনফার্ম করার জন‍্য আপনাকে কল করা হবে । আপনার পেমেন্ট এবং কুরিয়ার এর ঠিকানা রেডি রাখুন। </p>
                            <p style="font-size: 14px;;line-height: 20px;color:#404040;">বিঃদ্রঃ আপনাকে কল করার আগে পেমেন্ট পাঠাবেন না !</p>
                        </div>
                        {% endif %}
                        
                    </div>

                </div>
                <div class="back-home">
                    <a href="/order/homepage">Back to home</a>
                </div>
                <div class="credit">
                    <p>Developed by <a href="https://invento.com.bd/">Invento Software Limited</a></p>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock page_content %}
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/dom-to-image@2.6.0/src/dom-to-image.min.js"></script> -->




<script>
    document.addEventListener("DOMContentLoaded", function () {
        const tabs = document.querySelectorAll('.tab-item');
        const products = document.querySelectorAll('.product-card');
        const noProductsMessage = document.querySelector('.no-products');

        tabs.forEach(tab => {
            tab.addEventListener('click', function () {
                // Remove 'active' class from all tabs and add to clicked one
                tabs.forEach(t => t.classList.remove('active'));
                tab.classList.add('active');

                // Get selected category
                const selectedCategory = tab.getAttribute('data-category');
                let productFound = false;

                // Show/Hide products based on selected category
                products.forEach(product => {
                    if (selectedCategory === 'all' || product.getAttribute('data-category') === selectedCategory) {
                        product.style.display = 'flex';
                        productFound = true;
                    } else {
                        product.style.display = 'none';
                    }
                });

                // Show "No products found" message if no products are visible
                if (!productFound) {
                    noProductsMessage.style.display = 'block';
                } else {
                    noProductsMessage.style.display = 'none';
                }
            });
        });
    });
    const next3 = document.getElementById("next3");
    const next4 = document.getElementById("next4");
    const step3 = document.getElementById("step3");
    const step4 = document.getElementById("step4");
    let cart_div = $('.cart-product-list')
    let item_back = $('#item-back')
    let top_summary_section = $('.summary-section')
    let back2 = $('#back2')
    let setp3_2 = $('#step3')

    function formatTaka(amount) {
        return new Intl.NumberFormat('en-BD', {
            style: 'currency',
            currency: 'BDT',
            currencyDisplay: 'narrowSymbol'
        }).format(amount).replace(/\s?৳/, '');
    }

    // Show Step 4 (Order Summary)
    next3.addEventListener("click", function () {
        var customer = $('#id').val();
        var customer_group = $('#customerGroup').val();
        var mobile = $('#mobile').val();
        var itemsWithQty = [];
        var total_qty = 0;
        var error = 0
        $('.product-card').each(function() {
            var qty = $(this).find('#quantity-input').val();
            var itemId = $(this).find('.item-id').val();
            if (parseFloat(qty)) {
                itemsWithQty.push({"item" : itemId,"qty" : parseFloat(qty)});
                total_qty += parseFloat(qty)
            }
        })
        if (total_qty > 0) {
        }else{
            frappe.show_alert({
                message:__('No Quantity Selected! Please Select Quantity'),
                indicator:'red'
            }, 10);
            // frappe.throw({ message: __("No Quantity Selected! Please Select Quantity"), title: __("Quantity") });
            return;
        }

        let args = {
            customer_group: customer_group,
            items : itemsWithQty
        }
        frappe.call({
            btn: this,
            method: "forever.www.order.items.make_cart_page",
            args: args,
            callback: function(r) {
                if (r.message) {
                    cart_div.empty()
                    r.message.forEach(item => {
                        
                        let items_data = `<div class="product-card cart-item">
                            <div class="product-image">
                                <img src="${ item.image }" alt="${ item.item_name }">
                            </div>
                            <div class="product-info">
                                <h4>${ item.item_name }™</h4>
                                <div class="item">${ item.item_code }</div>
                                <div class="price">Price: ${ item.rate }</div>
                                <div class="item">CC: ${item.item_cc}</div>
                            </div>
                            <div class="cart-control">
                                <div class="cart">
                                    <div class="Qty">
                                        Qty : ${ item.qty }
                                    </div>
                                    <div class="cc">
                                        CC : ${item.cc}
                                    </div>
                                    <div class="amt">
                                        Amt : ৳${formatTaka(item.amount)}
                                    </div>
                                </div>
                            </div>
                        </div>`
                        cart_div.append(items_data)
                    })
                    cart_div.removeClass("hidden")
                    $(".summary-section").addClass("hidden")
                    $(".main-cart-div").removeClass("hidden")
                    $(".item_desription").addClass("hidden")
                    // setp3_2.addClass("hidden")
                }
            }
        })
    });
    next4.addEventListener("click", function () {
        frappe.confirm('Are you sure you want to proceed?',
        () => {
            var customer = $('#id').val();
            var customer_group = $('#customerGroup').val();
            var order_type = $('#orderGroup').val();
            var mobile = $('#mobile').val();
            var customer_name = $('#customer_name').val();
            const whatsappNumber = $('#whatsapp-number').val();
            const tax_amount = $('#percent-amount').text();
            const numeric_tax_amount = parseFloat(tax_amount.replace(/[^\d.]/g, ''));

            var itemsWithQty = [];
            var total_qty = 0;
            var error = 0
            $('.product-card').each(function() {
                var qty = $(this).find('#quantity-input').val();
                var itemId = $(this).find('.item-id').val();
                if (parseFloat(qty)) {
                    itemsWithQty.push({"item" : itemId,"qty" : parseFloat(qty)});
                    total_qty += parseFloat(qty)
                }
            })
            let args = {
                customer: customer,
                customer_group: customer_group,
                mobile : mobile,
                items : itemsWithQty,
                order_type : order_type,
                customer_name : customer_name,
                tax_amount : numeric_tax_amount
            }
            if (total_qty > 0) {
                frappe.call({
                    btn: this,
                    method: "forever.www.order.items.create_sales_invoice",
                    args: args,
                    callback: function(r) {
                        if (r.message) {
                            var invoiceId = r.message.order_id;
                            var qrCode = new QRCode(document.getElementById("qrcode"), {
                                text: invoiceId,
                                width: 220,
                                height: 220,
                                color: {
                                    dark: "#000000",
                                    light: "#ffffff"
                                }
                            });
                            $(".step3").addClass("hidden");
                            step4.classList.add("active");
                            $(".invoice-id").text(r.message.order_id)
                            const orderNumber = r.message.order_id;
                            const fboId = customer;
                            const customerName = r.message.customer_name;
                            const shareText = `Order Number: ${orderNumber}, FBO ID: ${fboId}, Customer Name: ${customerName}`;
                            const whatsappShareBtn = document.getElementById("whatsapp-share-btn");
                            whatsappShareBtn.href = `https://api.whatsapp.com/send?phone=${whatsappNumber}&text=${encodeURIComponent(shareText)}`;
                            $(".second-main").addClass("hidden")
                        }
                    }
                })
                
            }else{
                frappe.show_alert({
                    message:__('No Quantity Selected! Please Select Quantity'),
                    indicator:'red'
                }, 10);
                return;
            }
        }, () => {
            // action to perform if No is selected
        })
    });

    $('#item-back').click(function() {
        $(".main-cart-div").addClass("hidden")
        $(".item_desription").removeClass("hidden")
        $(".summary-section").removeClass("hidden")
    });

    $('#back2').click(function() {
        var currentDomain = window.location.origin;
        var url = `/apporder`
        window.location.href = currentDomain + url;
    });
    $('#back3').click(function() {
        var currentDomain = window.location.origin;
        var url = `/apporder`
        window.location.href = currentDomain + url;
    });


    document.getElementById('download-qr').addEventListener('click', function() {
        frappe.show_alert({
            message:__('Image Download Processing, please Wait...'),
            indicator:'green'
        }, 10);
        $("#download-qr").addClass("hidden")
        html2canvas(document.getElementById('qr-div')).then(function(canvas) {
            var link = document.createElement('a');
            link.download = 'Invoice-QR.png';
            link.href = canvas.toDataURL();
            link.click();
        });
        // const node = document.getElementById('qr-div');
        // domtoimage.toBlob(node)
        //     .then(function (blob) {
        //         const link = document.createElement('a');
        //         link.href = URL.createObjectURL(blob);
        //         link.download = 'Invoice-QR.png';
        //         link.click();
        //     })
        //     .catch(function (error) {
        //         console.error('Error capturing the div:', error);
        //     });


        // const qrDiv = document.getElementById('qr-div');
        // const qrImage = qrDiv.querySelector('img'); // Find the QR code image inside the div

        // if (qrImage) {
        //     // Create a temporary canvas
        //     const canvas = document.createElement('canvas');
        //     canvas.width = qrImage.width;
        //     canvas.height = qrImage.height;

        //     const ctx = canvas.getContext('2d');
        //     // Draw the QR code image onto the canvas
        //     ctx.drawImage(qrImage, 0, 0, qrImage.width, qrImage.height);

        //     // Trigger download
        //     const link = document.createElement('a');
        //     link.download = 'qrcode.png';
        //     link.href = canvas.toDataURL('image/png');
        //     link.click();
        // } else {
        //     alert('QR code not found!');
        // }
        
    });

</script>
<script>
    $(document).ready(function() {
        function updateTotalQuantity() {
            let totalQuantity = 0;
            let total_amount = 0
            let totalcc = 0
            let total_price = 0
            let total_price_actual = 0
            $('.product-card').each(function() {
                var qty = $(this).find('#quantity-input').val();
                var cc = $(this).find('.item-cc').val();
                var price = $(this).find('.item-price').val();
                var price_actutal = $(this).find('.item-price-actual').val();
                if (qty) {
                    let item_cc = parseFloat(qty) * parseFloat(cc)
                    totalcc += item_cc
                }
                

                var limit = $(this).find('.item-limit').val();
                if (limit > 0 && parseFloat(qty) > limit) {
                    $(this).find('#quantity-input').val(0);
                    alert(`Qty cannot greater then limit for item`);
                    return;
                }
                if (parseFloat(qty)) {
                    totalQuantity += parseFloat(qty)
                    if (price){
                        total_price += (parseFloat(price) * parseFloat(qty))
                        total_price_actual += (parseFloat(price_actutal) * parseFloat(qty))
                    }
                }
            })
            $('#total-quantity').text(totalQuantity);
            $('#total-cc').text(totalcc.toFixed(1));
            $('#total-amount').text(formatCurrency(total_price,"BD"));
            $('#total-quantity-2').text(totalQuantity);
            $('#total-cc-2').text(totalcc.toFixed(1));
            $('#total-amount-2').text(formatCurrency(total_price,"BD"));

            let five_percent = (5 / 100 ) * total_price_actual.toFixed(1)
            $('#percent-amount').text(formatCurrency(five_percent,"BD"));

            let grand_total = (total_price + five_percent).toFixed(1)
            $('#grand-total').text(formatCurrency(grand_total,"BD"));

        }
        function updateTotalQuantity2() {
            var rank = $('#customerGroup').val();
            let args = {
                customer_rank: rank,
            }
            frappe.call({
                method: "forever.www.order.items.get_customer_group_discount_percentage",
                args: args,
                callback: function(r) {
                    if (r.message) {
                        console.log(r.message)
                    }
                }
            })
        }
        function formatCurrency(amount) {
            return new Intl.NumberFormat('en-BD', {
                style: 'currency',
                currency: 'BDT',
                currencyDisplay: 'narrowSymbol'
            }).format(amount).replace(/\s?৳/, '');
        }
        $('.quantity-input').on('input', updateTotalQuantity);
        $('#customerGroup').on('input', updateTotalQuantity2);
        
    });
</script>
<script>
    document.querySelectorAll('.quantity-input').forEach(input => {
        input.addEventListener('input', function() {
            const quantity = parseFloat(this.value) || 0;
            const productCard = this.closest('.product-card');
            const price = parseFloat(productCard.querySelector('.price').dataset.price);
            const ccValue = parseFloat(productCard.querySelector('.cc-value').dataset.cc);
            const totalCC = ccValue * quantity;
            const totalAmt = price * quantity;
            if (ccValue) {
                productCard.querySelector('.total-amt .cc').textContent = `CC: ${totalCC.toFixed(1) || 0}`;
            }
            if (price) {
                productCard.querySelector('.total-amt .amt').textContent = `Amt: ৳${formatTaka(totalAmt)}`;
            }
        });
    });
    function formatTaka(amount) {
        return new Intl.NumberFormat('en-BD', {
            style: 'currency',
            currency: 'BDT',
            currencyDisplay: 'narrowSymbol'
        }).format(amount).replace(/\s?৳/, '');
    }
</script>
{% endblock script %}