{% extends "templates/web.html" %}
{% block style %}
<link rel="stylesheet" href="css/items.css">
<style>
    .navbar {

        display: none;
    }
    .web-footer {

        display: none;
    }
</style>
{% endblock style %}

{% block page_content %}


<div class="login-wrap">
    <div class="login-html">
        <div class="login-form">
            <!-- Step 1 -->
            <div id="step1" class="step active">
                <div class="company-logo home-logo">
                    <a href="/order/homepage"><img src="{{ logo_image }}" alt="Company Logo"></a>
                </div>
                <div class="group">
                    <label for="customer" class="label">FBO ID<spna style="color: red;"> *</spna></label>
                    <input id="customer" type="text" class="input">
                </div>
                <div class="group">
                    <input id="next1" type="button" class="button" value="Next">
                </div>

                <div class="back-home">
                    <a href="/order/homepage">Back to home</a>
                </div>
            </div>

            <!-- Step 2 -->
            <div id="step2" class="step">
                <div class="company-logo">
                    <a href="/order/homepage"><img src="{{ logo_image }}" alt="Company Logo"></a>
                </div>
                <div class="group">
                    <label for="id" class="label">FBO ID<spna style="color: red;"> *</spna></label>
                    <input id="id" type="text" class="input">
                </div>
                <div class="group">
                    <label for="name" class="label">Full Name<spna style="color: red;"> *</spna></label>
                    <input id="name" type="text" class="input">
                </div>
                <div class="group">
                    <label for="mobile" class="label">Mobile Number<spna style="color: red;"> *</spna></label>
                    <input id="mobile" type="text" class="input">
                </div>
            <div class="group">
                <label for="customerGroup1" class="label">Rank<spna style="color: red;"> *</spna></label>
                <select id="customerGroup1" class="input">
                    <option value="" disabled selected>Select Rank</option>
                    {% for cg in customer_groups %}
                        {% if cg != "All Customer Groups" %}
                            <option value="{{ cg }}">{{ cg }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="group">
                <label for="customerGroup" class="label">Order Type<span style="color: red;"> *</span></label>
                <select id="customerGroup" class="input">
                    <option value="" disabled selected >Select Order Type</option>
                    <option value="In Person" id="in_person">In Person</option>
                    <option value="Online or Whatsapp Order" id="online">Online or Whatsapp Order</option>
                </select>
            </div>
                <div class="group">
                    <input id="next2" type="button" class="button" value="Next">
                </div>

                <div class="back-home">
                    <a href="/order/homepage">Back to home</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock page_content %}
{% block script %}

<script> 
    document.addEventListener('DOMContentLoaded', function () {
        const next1Button = document.getElementById('next1');
        const customerInput = document.getElementById('customer');
        const nameInput = document.getElementById('id');

        next1Button.addEventListener('click', function () {
            // Get the value from the first step input
            const customerValue = customerInput.value;

            // Set the value in the second step input
            nameInput.value = customerValue;

            // Move to the next step
            document.getElementById('step1').classList.remove('active');
            document.getElementById('step2').classList.add('active');
        });
    });
    // Getting elements for steps
    const step1 = document.getElementById("step1");
    const step2 = document.getElementById("step2");

    const next1 = document.getElementById("next1");
    const next2 = document.getElementById("next2");

    const placeOrder = document.getElementById("placeOrder");

      // Show Step 2
  next1.addEventListener("click", function () {
      // Basic validation for step 1
    const customer = document.getElementById("customer").value;

    if (customer === "") {
        frappe.show_alert({
            message:__('Please enter the customer name.'),
            indicator:'red'
        }, 10);
        return;
    }else{
        let args = {
            customer: customer,
        }
        frappe.call({
            btn: this,
            method: "forever.www.order.register.check_customer_information",
            args: args,
            callback: function(r) {
                if (r.message.customer_group) {
                    $('#customerGroup').val(r.message.customer_group);
                    $('#mobile').val(r.message.mobile);
                    $('#name').val(r.message.name);
                }
            }
        })
        $("#step2").removeClass("hidden")
        $("#step1").addClass("hidden")
    }
  });

    next2.addEventListener("click", function () {
        var customer = $('#id').val();
        var customer_group = $('#customerGroup1').val();
        var customer_name = $('#name').val();
        var order_group = $('#customerGroup').val();
        var mobile = $('#mobile').val();
        if (customer_group === "" || mobile === "" || order_group === null || customer_group == null || customer === "") {
            frappe.show_alert({
                message:__('Please fill all fields.'),
                indicator:'red'
            }, 10);
            return;
        }
        if (mobile.length < 11 || mobile.length > 11) {
            // frappe.throw({ message: __("Mobile number invalid format ."), title: __("Format") });
            
        }
        var bangladeshMobilePattern = /^01[3-9]\d{8}$/;
        if (!bangladeshMobilePattern.test(mobile)) {
            frappe.show_alert({
                message:__('Mobile number invalid format .'),
                indicator:'red'
            }, 10);
            return;
        }

        var currentDomain = window.location.origin;
        var url = `/order/items?rank=${customer_group}&customer=${customer}&customername=${customer_name}&mobile=${mobile}&ordertype=${order_group}`
        window.location.href = currentDomain + url;
    });
    $('#back4').click(function() {
        $("#step2").addClass("hidden")
        $("#step1").removeClass("hidden")
    });
    

</script>

{% endblock script %}