.body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family:'Figtree', sans-serif;
}

a{
    text-decoration: none;
}

.container_d {
    width: 600px;
    text-align: center;
    background-color: #f8b19924;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    margin-top: 20px;
  
}

.logo img {
    width: 80px;
    height: auto;
}

.logo p {
    font-size: 18px;
    font-weight: bold;
    color: #8b8b8b;
    margin: 10px 0 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    padding: 35px 24px 24px 24px;
}


.card {
    background-color: #f8f8f8b8;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card img {
    width: 40px;
    height: auto;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    color: #333333;
    margin: 0;
    font-weight: 600;
}

h2 {

    margin-bottom: 0;
    margin-top: 35px;
    font-size: 24px;
    color: #333;
}

.notice-list {
    list-style: none;
    padding:0 24px;
    margin: 20px 0;
}

.notice-item {
    display: flex;
    justify-content: space-between;
    align-items: start;
    text-align: left;
    background-color: #f8f8f8b8;
    padding: 25px 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    counter-increment: notice-counter;
}

.notice-info h4 {
    margin: 0;
    font-size: 16px;
    color: #333;
    padding-right: 8px;
}

.notice-date {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.notice-date img {
    width: 16px; 
    height: auto;
    margin-right: 5px;
}
.notice-info h4::before {
    content: counter(notice-counter) ". ";
    font-weight: bold;
    margin-right: 8px;
    color: #333;
}

.notice-info a{
    color: #333;
}

.notice-date p {
    margin: 0;
    font-size: 12px;
    color: #888;
}

.view-button {
    padding: 6px 15px;
    background-color: #a9a500;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.view-button:hover {
    background-color: #FFD100;
}

/* Popup Styles */

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    position: relative;
}

.popup-content img {
    width: 100%;
}

.close {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
    background-color: #fff;
    padding: 10px;
    border-radius: 14px;
}

.close:hover {
    color: #ff0000;
}

/* Brand Material */

.brand {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 35px 24px 24px 24px;
}

.brand .card {
    background-color: #f8f8f8b8;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.brand .card img {
    width: 100%;
    height: auto;
    margin-bottom: 0px;
}
.brand button{
    border: 0px solid #fff;
    cursor: pointer;
    background: transparent;
}
.back button{
    background-color: #a9a500;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.back a{
    text-decoration: none;
    color: #fff;
}

.box {
    border: 1px solid #ccc;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
}

.box img {
    width: 100%;
    height: auto;
}

.box-footer {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
    padding: 10px;
    background: #f9f9f9;
}

.title {
    font-size: 14px;
    color: #333;
    font-weight: 600;
}

.download-icon {
    height: 20px !important;
}

.download-icon:hover {
    color: #007BFF; 
}

/* credit */
.credit{
    font-size: 13px;
}

.credit a{
    color: #404040;
}

/* order */
.input-container_d {
    margin: 20px 0;
    padding: 0 20px; /* Add padding to match overall design */
}

.input-container_d label {
    display: block;
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
    font-weight: 600;
    text-align: left;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    text-align: left;
    height: 26px;
}

.input-group input:focus {
    border-color: #a9a500;
    box-shadow: 0 2px 6px rgba(169, 165, 0, 0.2);
}

.submit-button {
    width: 100%; /* Make button take full width */
    padding: 10px;
    background-color: #a9a500;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    font-weight: 600;
}

.submit-button:hover {
    background-color: #FFD100;
    color: #404040;
}

/* dfsf */

.input-group {
    margin-bottom: 15px;
    text-align: left; /* Align label and input to the left */
}

input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 50px;
    font-size: 16px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #a9a500;
    color: white;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #FFD100; /* Change color on hover */
}

.back-button {
    background-color: transparent;
    margin-top: 22px;
    color: #404040;
    text-decoration: underline;
}

.back-button:hover {
    text-decoration: none;
}



@media (max-width: 600px) {
    .brand {
        padding: 20px 15px 15px 15px;
    }
    h2 {
        margin-top: 15px;
    }
    .notice-item {
        padding: 20px 15px;
    }
    .notice-info{
        margin-right: 6px;
        align-items: start;
    }
    .credit{
        font-size: 12px;
        padding-bottom: 10px;
    }
}
.navbar {

    display: none;
}
.web-footer {

    display: none;
}
.container {

    width: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: auto;
    margin-left: auto;
}
@media (max-width: 992px) {
    .page-content-wrapper .container {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}