
{% extends "templates/web.html" %}
{% block style %}
<link rel="stylesheet" href="css/style.css">
{% endblock style %}

{% block page_content %}

<div class="login-wrap">
    <div class="login-html">
        <!-- Logo that remains constant -->
        <div class="company-logo">
            <img src="{{ logo_image }}" alt="Company Logo">
        </div>

        <div class="login-form">
            <!-- Step 1 -->
            <div id="step1">
                <div class="group">
                    <label for="customer" class="label">FBO ID<spna style="color: red;"> *</spna></label>
                    <input id="customer" type="text" class="input">
                </div>
                <div class="group">
                    <input id="next1" type="button" class="button" value="Next">
                </div>
            </div>

            <!-- Step 2 -->
            <div id="step2" class="hidden">
                <div class="group">
                    <label for="id" class="label">FBO ID<spna style="color: red;"> *</spna></label>
                    <input id="id" type="text" class="input" required>
                </div>
                <div class="group">
                    <label for="name" class="label">Full Name<spna style="color: red;"> *</spna></label>
                    <input id="name" type="text" class="input" required>
                </div>
                <div class="group">
                    <label for="mobile" class="label">Mobile Number<spna style="color: red;"> *</spna></label>
                    <input id="mobile" type="text" class="input" required>
                </div>
                <div class="group">
                    <label for="customerGroup" class="label">Rank<spna style="color: red;"> *</spna></label>
                    <select id="customerGroup" class="input" required>
                        <option value="" disabled selected>Select Rank</option>
                        {% for cg in customer_groups %}
                        {% if cg != "All Customer Groups" %}
                            <option value="{{ cg }}">{{ cg }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="group">
                    <label for="orderGroup" class="label">Order Type<spna style="color: red;"> *</spna></label>
                    <select id="orderGroup" class="input" required>
                        <option value="" disabled selected>Select Type</option>
                        <option value="Online">Online</option>
                        <option value="In Person">In Person</option>
                    </select>
                </div>
                <div  class="search-filter-cart3">
                    <div class="summary-section">
                        <!-- Order Button -->
                        <button id="back4" class="proceed-btn proceed-btn-back">Back</button>
                        <button id="next2" class="proceed-btn proceed-btn-next">Next</button>
                    </div>
                </div>
            </div>
            <!-- Step 3 -->
            <div id="step3" class="step"></div>
            <!-- Step 4 -->
            <div id="step4" class="step"></div>
        </div>
    </div>
</div>


{% endblock page_content %}
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>

<script> 
    document.addEventListener('DOMContentLoaded', function () {
        const next1Button = document.getElementById('next1');
        const customerInput = document.getElementById('customer');
        const nameInput = document.getElementById('id');

        next1Button.addEventListener('click', function () {
            // Get the value from the first step input
            const customerValue = customerInput.value;

            // Set the value in the second step input
            nameInput.value = customerValue;

            // Move to the next step
            document.getElementById('step1').classList.remove('active');
            document.getElementById('step2').classList.add('active');
        });
    });
    // Getting elements for steps
    const step1 = document.getElementById("step1");
    const step2 = document.getElementById("step2");

    const next1 = document.getElementById("next1");
    const next2 = document.getElementById("next2");

    const placeOrder = document.getElementById("placeOrder");

      // Show Step 2
  next1.addEventListener("click", function () {
      // Basic validation for step 1
    const customer = document.getElementById("customer").value;

    if (customer === "") {
        frappe.show_alert({
            message:__('Please enter the customer name.'),
            indicator:'red'
        }, 10);
        return;
    }else{
        let args = {
            customer: customer,
        }
        frappe.call({
            btn: this,
            method: "forever.www.apporder.check_customer_information",
            args: args,
            callback: function(r) {
                if (r.message.customer_group) {
                    $('#customerGroup').val(r.message.customer_group);
                    $('#mobile').val(r.message.mobile);
                    $('#name').val(r.message.name);
                }
            }
        })
        $("#step2").removeClass("hidden")
        $("#step1").addClass("hidden")
    }
  });

    next2.addEventListener("click", function () {
        var customer = $('#id').val();
        var customer_group = $('#customerGroup').val();
        var order_group = $('#orderGroup').val();
        var mobile = $('#mobile').val();
        if (customer_group === "" || mobile === "" || order_group === null || customer_group == null || customer === "") {
            frappe.show_alert({
                message:__('Please fill all fields.'),
                indicator:'red'
            }, 10);
            return;
        }
        if (mobile.length < 11 || mobile.length > 11) {
            // frappe.throw({ message: __("Mobile number invalid format ."), title: __("Format") });
            
        }
        var bangladeshMobilePattern = /^01[3-9]\d{8}$/;
        if (!bangladeshMobilePattern.test(mobile)) {
            frappe.show_alert({
                message:__('Mobile number invalid format .'),
                indicator:'red'
            }, 10);
            return;
        }

        var currentDomain = window.location.origin;
        var url = `/items?rank=${customer_group}&customer=${customer}&mobile=${mobile}&ordertype=${order_group}`
        window.location.href = currentDomain + url;
    });
    $('#back4').click(function() {
        $("#step2").addClass("hidden")
        $("#step1").removeClass("hidden")
    });
    

</script>
{% endblock script %}